<a href="https://colab.research.google.com/github/wbandabarragan/computational-physics-1/blob/main/unit-1/104-python-basics-review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Operations with Python

Python can be used as a scientific calculator.

This only requires lauching an interpreter and using the correct syntax to carry out mathematical operations.

## 1. Math operations:

In [2]:
# Addition

1 + 3

4

In [3]:
# Multiplication/Division

(2 * 10)/(5)

4.0

In [4]:
_*7

28.0

In [5]:
# Exponentiation

(2)**(3)

8

# 2. The math library:

In [6]:
import math

In [7]:
math.cos(0)

1.0

In [8]:
math.sqrt(4)

2.0

In [9]:
math.exp(2)

7.38905609893065

In [10]:
math.exp(math.log(10))

10.000000000000002

In [12]:
math.factorial(4)

24

In [13]:
math.comb?

In [14]:
1/0

ZeroDivisionError: division by zero

In [15]:
1/math.inf

0.0

In [16]:
math.inf * 3

inf

In [17]:
math.inf/math.inf

nan

## 3. Complex numbers

In [18]:
complex(3,4)

(3+4j)

In [20]:
-1 + 2j

(-1+2j)

## 4. Data types:

int: integers

float: floating point numbers

complex: complex numbers


The command type() allows to check which type you are dealing with.

In [21]:
type(12)

int

In [22]:
type(12.)

float

In [23]:
type(3+4j)

complex

In [24]:
type("hola")

str

## 5. Logical operators:

They are very helpful when dealing with conditionals:

In [25]:
# Compare two numbers

2 == 3

False

In [26]:
2 < 3

True

In [27]:
# And, Not, Or

(2 and not 2) and (2 and 2)

False

In [28]:
(4 > 3) + (2 > 1)

2

## 6. Variables:

= This is called assignment operator!

In [29]:
# Define variables

a = 3
b = 3.

In [30]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [31]:
# Operations with variables

c = b*2.

print(c)

6.0

In [33]:
%whos

Variable   Type      Data/Info
------------------------------
a          int       3
b          float     3.0
c          float     6.0
math       module    <module 'math' (built-in)>

In [34]:
a = 5.

In [35]:
%whos

Variable   Type      Data/Info
------------------------------
a          float     5.0
b          float     3.0
c          float     6.0
math       module    <module 'math' (built-in)>

In [36]:
# Another operation for a

a = b+1.

In [37]:
%whos

Variable   Type      Data/Info
------------------------------
a          float     4.0
b          float     3.0
c          float     6.0
math       module    <module 'math' (built-in)>

In [38]:
t = 0.

print(t)

0.0

In [39]:
t = t + 1.

print(t)

1.0

In [40]:
del a # deletes the variable from memory

In [42]:
print(a)

NameError: name 'a' is not defined

In [41]:
%whos

Variable   Type      Data/Info
------------------------------
b          float     3.0
c          float     6.0
math       module    <module 'math' (built-in)>
t          float     1.0

## 7. Data structures:

- Strings: characters -> text

- Lists: native to python

- Tuples: Sets of data

- Sets, Dictionaries.

- Arrays (Numpy)

7.1 Strings:

In [43]:
# Examples

d = "file"

print(type(d)) # Type of data structure

print(len(d)) # Number of characters in the string

<class 'str'>
4

In [44]:
# Empty string

e = " "

print(type(e), len(e))

<class 'str'> 1

In [46]:
# Access specific character

f = "file001"

print(type(f), len(f))

<class 'str'> 7

In [48]:
# Python indexes from 0, and the [] are used for indexing.

print(f[6])

print(f[4:7])

1
001

In [49]:
print(f.count("0"))
print(f.replace("00", "01"))

2
file011

## 7.2 Lists:

To define lists we use [] (square brackets).

In [51]:
list_1 = [4,7,9]

print(type(list_1))

<class 'list'>

In [52]:
list_2 = ["Hola",7,9]

print(list_2)
print(type(list_2))

['Hola', 7, 9]
<class 'list'>

In [58]:
# Indexing

print(list_2[0], type(list_2[0]))
print(list_2[2], type(list_2[2]))
print(list_2[-1])

Hola <class 'str'>
9 <class 'int'>
9

In [60]:
# length of the list

len(list_2)

3

In [63]:
# Concatenate lists

list_3 = list_1 + list_2

print(list_3)
print(len(list_3))

[4, 7, 9, 'Hola', 7, 9]
6

In [64]:
# Empty list

m = []

print(m, type(m))

m.append(1)

print(m)

[] <class 'list'>
[1]

In [65]:
m.append(2)

print(m)

[1, 2]

In [68]:
print(d, type(d))

file <class 'str'>

In [70]:
# String to list

d_list = list(d)

print(d_list, type(d_list))

['f', 'i', 'l', 'e'] <class 'list'>

## 7.3 Tuples:

To define tuples we use ().

Tuples -> sets of #'s

In [71]:
# Define a tuple

tuple_1 = (100, 200, 300)

print(type(tuple_1))

<class 'tuple'>

In [ ]:
# Use indexing

print(tuple_1[0:2])

(100, 200)

In [72]:
print(len(tuple_1))

3

In [73]:
print(tuple_1.count(100))

1

In [76]:
# Differences between tuples and lists

list_1 = [100, 200, 300]

# Change an element within the list

list_1[2] = 500

print(list_1)

# Can we do the same with tuples? NO.

#tuple_1[2] = 500 # This gives us an error
# TypeError: 'tuple' object does not support item assignment

[100, 200, 500]

In [77]:
# Tuples can receive objects via unpacking
# Let's get the elements from list_1

print(list_1)

x, y, z = list_1

print(x, y, z)

[100, 200, 500]
100 200 500

In [79]:
# Parethesis are not strictly needed to generate tuples
# But they are desired highly

tuple_2 = 7,8,9

tuple_3 = (7,8,9)

print(type(tuple_2))
print(type(tuple_3))

<class 'tuple'>
<class 'tuple'>

7.4 Sets:
To define lists we use {} (curly brackets). Allow for some basic operations:

- Unions
- Intersections
- Differences

In [80]:
{1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7}

{1, 2, 3, 4, 5, 6, 7}

In [81]:
print(type({1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7}))

<class 'set'>

In [82]:
# Operations via set():

# The unique elements can be found like this:

set_1 = set([1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7])

print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [83]:
# This is for tuples

set_2 = set((1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7))

print(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [84]:
# For strings:

set_3 = set("Yachay")

print(set_3)

{'c', 'Y', 'h', 'a', 'y'}

In [85]:
# Define a new set
set_4 = set((5,6,7, 8, 9, 10))

print(set_4)

{5, 6, 7, 8, 9, 10}

In [86]:
# Union operation

set_2.union(set_4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [87]:
# Intersection;

set_2.intersection(set_4)

{5, 6, 7}

7.5 Dictionaries: To define dictionaries we also use {} (curly brackets), but need to define "keys" to individual elements. Allow for some basic operations:

In [88]:
# Define a dictionary:

dict_1 = {"CP1": 7 , "QM1": 6 , "ED1": 6, "GR": 9}

print(type(dict_1))

<class 'dict'>

In [92]:
# Indexing works with the keys:

print(dict_1["GR"])

9

In [93]:
# Print out the keys available

dict_1.keys()

dict_keys(['CP1', 'QM1', 'ED1', 'GR'])

In [94]:
# Print the length of the dictionary

print(len(dict_1))

4

In [ ]:
# Empty dictionaries:

universities_dict = {}

In [ ]:
# Fill up the dictionary:

universities_dict["Yachay"] = "Imbabura"

print(universities_dict)

{'Yachay': 'Imbabura'}

In [ ]:
universities_dict["EPN"] = "Pichincha"

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha'}

In [ ]:
universities_dict["Espol"] = "Guayas"

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas'}

In [ ]:
universities_dict["Ecuador code"] = 593

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'Ecuador code': 593}

In [ ]:
# Adding multiple elements in one go:
# https://www.programiz.com/python-programming/methods/dictionary/update
universities_dict.update({"UTA": "Tungurahua", "ESPOCH": "Chimborazo"})

In [ ]:
print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'Ecuador code': 593, 'UTA': 'Tungurahua', 'ESPOCH': 'Chimborazo'}

In [ ]:
# Remove elements from dictionary via del()

del universities_dict["Ecuador code"]

In [ ]:
print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'UTA': 'Tungurahua', 'ESPOCH': 'Chimborazo'}

In [ ]:
%whos

Variable            Type      Data/Info
---------------------------------------
a                   float     4.0
b                   float     3.0
c                   float     6.0
d                   str       file
d_list              list      n=4
dict_1              dict      n=4
e                   str
f                   str       file001
list_1              list      n=3
list_2              list      n=3
list_3              list      n=6
m                   list      n=2
math                module    <module 'math' (built-in)>
set_1               set       {1, 2, 3, 4, 5, 6, 7}
set_2               set       {1, 2, 3, 4, 5, 6, 7}
set_3               set       {'a', 'c', 'Y', 'y', 'h'}
set_4               set       {5, 6, 7, 8, 9, 10}
t                   float     1.0
tuple_1             tuple     n=3
tuple_2             tuple     n=3
universities_dict   dict      n=5
x                   int       100
y                   int       200
z                   int       500

In [ ]:
print(x)

100

In [ ]:
del x

In [ ]:
print(x)

NameError: ignored

In [ ]:
%whos

Variable            Type      Data/Info
---------------------------------------
a                   float     4.0
b                   float     3.0
c                   float     6.0
d                   str       file
d_list              list      n=4
dict_1              dict      n=4
e                   str
f                   str       file001
list_1              list      n=3
list_2              list      n=3
list_3              list      n=6
m                   list      n=2
math                module    <module 'math' (built-in)>
set_1               set       {1, 2, 3, 4, 5, 6, 7}
set_2               set       {1, 2, 3, 4, 5, 6, 7}
set_3               set       {'a', 'c', 'Y', 'y', 'h'}
set_4               set       {5, 6, 7, 8, 9, 10}
t                   float     1.0
tuple_1             tuple     n=3
tuple_2             tuple     n=3
universities_dict   dict      n=5
y                   int       200
z                   int       500